@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	
}
body, html{
	width:100%;
	height:100%;
	font-family:'PT Sans', sans-serif;
	background: url(../img/photo-1551958219-acbc608c6377.jpg) no-repeat;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	
}

p{
	line-height:22px;
}

a{
	color:white;
	
}
a:hover{
	color: #999999;
	text-decoration: underline;
	transition: all.6s ease;
}
/*Style for wrapper*/
#wrapper{
	display: flex;
	overflow:hidden;
	flex-direction: column;
	min-height:100%;
}
/*Style for content*/
#content{
	flex: 1 0 auto;
}
/*Style for header*/
header{
	font-size: 14px;	
	min-height:253px;
	background-color: #80ffbf;
	border-bottom: 3px solid #006600;
	padding-top:65px;
}
/*Style for slider*/
.slider{
	width:100%;
	height:400px;
	margin-bottom:35px;
	background: url(../img/slider.jpg) no-repeat;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; 
}


/*Style for size of image*/

.img-header{
	width:100px;
	height:100px;
	
}
/*Style for main text in header*/

p.main-header-text{
	color: #ffffff;
	font-size: 35px;	
	text-shadow: 2px 2px 3px black;
	font-family: 'Fredoka One', cursive;
	margin-bottom:10px;
	margin-top: 25px;
}
/*Style for text in header*/

p.header-text{
	color: black;
	font-size:14px;
	font-family: 'Permanent Marker', cursive;
	margin-top:0px;
}

/*Style for text of telephone*/

p.telefone-text{
	color: #293d3d;
	text-shadow: 1px 1px 2px black;
	padding:0px;
	font-size:30px;
	font-family: 'Fredoka One', cursive;
	padding-top:20px;
}
/*Style for footer*/
footer{
	min-height:220px;
	width:100%;
	background-color: #004d00;	
}
 /*Style for text of footer*/
.undertitle-text{
		color: white;
		font-size:14px;

	}

@media (max-width: 568px){
	.center_{
		float:center;
	}
	.minheader{
		text-align:center;
	}
	
 }
 
@media (min-width: 568px){
	.center_{
		float:right;
	}
	.footer_center{
		float:right;
	}
 }

@media (max-width: 438px){
	header{
		font-size: 14px;	
		height:100px;
		background-color: #80ffbf;
		border-bottom: 3px solid #006600;
		padding-top:45px;
	}
	p.main-header-text{
		color: #ffffff;
		font-size: 25px;	
		text-shadow: 2px 2px 3px black;
		font-family: 'Fredoka One', cursive;
		margin-bottom:10px;
		margin-top: 25px;
	}
	

	p.header-text{
		color: black;
		font-size:14px;
		font-family: 'Permanent Marker', cursive;
		margin-top:0px;
	}

	

	p.telefone-text{
		
		padding:0px;
		font-size:20px;

		margin-bottom:10px;
	}
	.img-header{
		margin-top:15px;
		width:70px;
		height:70px;
		
	}
}






