/*Main block for middle chapter*/
.section{
	width:100%;
	height:785px;
}
/*Main block for aside*/
.aside{
	padding-top:22px;
	padding-left:34px;
	padding-right:34px;
	max-height: 560px;
	background-color:green;
	color:white;
}
/*Style for heading*/
.heading{
	font-size:40px;
	font-weight:bold;
	color:white;
	margin-bottom:15px;
}
/*Style for list*/
.newslist {
	
	color: white;
	font-size: 14px;
	list-style-type:none;
}
.newslist li{
	margin-bottom:35px;
}
/*Style for main chapter*/
.main {
    background: white;
    color: #293d3d;
	font-size:14px;
	padding-top:22px;
	padding-left:60px;
	padding-right:0px;
	
}

aside a{
	position: relative;
	left:50%;
	top:0%;
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
		
	section{
		min-height:1000px;
	}

}

@media only screen and (min-width: 458px) and (max-width: 600px) {
		
	section{
		min-height:1200px;
	}

}


@media only screen and (min-width: 280px) and (max-width:458px) {
		
	.aside {
		min-height: 200px;
		background-color:green;	
		color:white;
	}
	
	section{
	
	min-height:1800px;
	
	}

}
@media only screen and (min-width: 0px) and (max-width:280px) {
		
	.aside {
		min-height: 200px;
		background-color:green;	
		color:white;
	}
	
	section{
	
	min-height:2300px;
	
	}

}
