/*Main block for middle chapter*/
.section{
	width:100%;
	height:785px;
}
/*Main block for aside*/
.aside{
	padding-top:22px;
	padding-left:34px;
	padding-right:34px;
	max-height: 560px;
	background-color:green;
	color:white;
}
/*Style for heading*/
.heading{
	font-size:40px;
	font-weight:bold;
	color:white;
	margin-bottom:15px;
}
/*Style for list*/
.newslist {
	
	color: white;
	font-size: 14px;
	list-style-type:none;
}
.newslist li{
	margin-bottom:35px;
}
/*Style for main chapter*/
.main {
    background: white;
    color: #293d3d;
	font-size:14px;
	padding-top:22px;
	padding-left:60px;
	padding-right:0px;
	
}

aside a{
	position: relative;
	left:50%;
	top:0%;
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
		
	section{
		min-height:1000px;
	}

}
@media only screen and (min-width: 500px) and (max-width: 600px) {
		
	section{
		min-height:1200px;
	}

}

@media only screen and (min-width: 400px) and (max-width: 500px) {
		
	section{
		min-height:1300px;
	}

}


@media only screen and (min-width: 300px) and (max-width:400px) {
		
	
	
	section{
	
	min-height:1650px;
	
	}

}
@media only screen and (min-width: 270px) and (max-width:300px) {
		
	
	
	section{
	
	min-height:1800px;
	
	}

}

@media only screen and (min-width: 240px) and (max-width:270px) {
		
	
	
	section{
	
	min-height:2050px;
	
	}

}
@media only screen and (min-width: 220px) and (max-width:240px) {
		
	
	
	section{
	
	min-height:2250px;
	
	}

}
@media only screen and (min-width: 200px) and (max-width:220px) {
		
	
	
	section{
	
	min-height:2350px;
	
	}

}
@media only screen and (min-width: 180px) and (max-width:200px) {
		
	
	
	section{
	
	min-height:2450px;
	
	}

}
@media only screen and (min-width: 0px) and (max-width:180px) {
		
	
	
	section{
	
	min-height:2650px;
	
	}

}
