/*Block for menu*/
nav{
	background-color: green;
	
	min-height:80px;
}

nav ul li a{
	color: white;
	font-size:30px;
	text-decoration: none;
	
}
nav ul li {
	line-height:15px;
	border-right:2px solid white;
	padding-right:30px;
}

.list-menu{
	vertical-align:center;
	background-color:green; 


}

