/*Main block for middle chapter*/
.section2{
	width:100%;
	max-height: 100%;
}
/*Style for text of elements in a row*/
.price_tabel{
	width:100%;
	display:none;
}

td{
	font-size:22px;
}
/*Style for img in a row*/
td img{
	width:100px;
	height:100px;
	border:2px solid black;
	border-radius:5px;
}
/*Style for button*/
.button_{
	background-color:green;
	color:white;
}

.text_basket{
	float:right; 
	font-size: 25px;
	margin-top: 8px; 
}

.button_:active{
	background-color:#999999;
	color: white;        	
}
.icon_basket{
	font-size: 25px;
	
}
.basket_block{
	border: 2px solid #262626;
	border-radius: 5px;
	background-color: green;
	color: white;
}
.basket_block:hover{
	background-color: #333333 ;
}
.green {
	background-color: green;
	color:white;
}


.sum_block{
	background-color: rgb(150, 150, 150);
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 0px;
}

@media (max-width: 438px){
	td img{
	width:20px;
	height:20px;
	border:2px solid black;
	border-radius:5px;
}
	td{
	font-size:10px;
}
.icon_basket{
	font-size: 25px;
	float: left;
}
.text_basket{

	margin-top: 10px; 
}

.button_{
	font-size: 10px;
}

}