/*Main block for middle chapter*/
.section3{
	width:100%;
	max-height: 100%;
}

/*Style for h5*/
.h5{
	font-style:italic;
}
/*Style for map*/
.map {
    width: 80%;
    height: 250px;
	margin-top:5px;
}

/*Style for location of map*/
.location{
	margin-top:40px;
	margin-bottom:40px;
	background-color:green;
	border-radius:10px;
	border:3px solid #00e600;
	text-align:center;
}

.location:hover{
	background-color:#999999;
	border:3px solid black;
}
/*Style for text of contact*/
.contact-text{
	margin-bottom:5px;
	font-size:20px;
	font-weight:bolder;
}

/* @media (max-width: 800px){
	.section3{
		width:100%;
		min-height:785px;
	}
	
 }
 
@media (max-width: 438px){
	.section3{
		width:100%;
		min-height:1000px;
	}
	
 } */
 