/*Main block for contacts*/
#Contacts{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	background-color:#00cc00;
	width:100%;
	height:100%;
}
#left-content{
	width:30%;
	height:100%;
}
#right-content{
	width:70%;
	height:100%;
}
/*Main block*/
#main_3{
	float:left;
	display: flex;
	justify-content: center;
	width:100%;
	height:100%;
}
#main-content_1{
	display: flex;
	justify-content: space-between;
	margin-top:30px;
	margin-left:10px;
	margin-right:10px;
	background-color:white;
	width:980px;
	height:785px;
	border-radius:5px;
}
/*Block for different contacts*/
#telephone-contacts{
	float:left;
	height:150px;
	width:100%;
	border-bottom:2px solid black;
	border-radius: 5px;
}
#email-contact{
	height:200px;
	float:left;
	width:100%;
	border-bottom:2px solid black;
	border-radius: 5px;
}
#location{
	float:left;
	height:300px;
	width:100%;
	
}
.contact-text{
	margin-left:15px;
	margin-top:5px;	
	font-size: 20px;
}
.location-text{
	position:relative;
	left:0px;
	bottom:35%;
	float:left;
	margin-left:15px;
	margin-top:5px;
	font-size: 20px;
}
.h3{
	margin-top:0px;
	margin-left:15px;
	font-size: 40px;
}

#imglocation{
	padding-left:20px; 
	float:left; 
	width:300px; 
	height:300px;
}

/*Adaptation for different size*/
@media only screen and (min-width: 568px) and (max-width: 1000px) {
#main-content_1{
	display: flex;
	justify-content: space-between;
	margin-top:30px;
	margin-left:0px;
	margin-right:0px;
	background-color:white;
	width:980px;
	height:785px;
	border-radius:5px;
}
}

@media screen and (max-device-width: 568px) {	
	#main-content_1{
		display: flex;
		justify-content: flex-start;
		flex-direction:column;
		margin-top:30px;
		margin-left:0px;
		margin-right:0px;
		background-color:white;
		width:980px;
		height:2000px;
		border-radius:5px;
	}
	#left-content{
		width:100%;
		height:10%;
		border-bottom:2px solid black;
	}
	#right-content{
		width:100%;
		height:90%;
	}
	#telephone-contacts{
		float:left;
		height:370px;
		width:100%;
		border-bottom:2px solid black;
		border-radius: 5px;
		
	}
	#email-contact{
		height:350px;
		float:left;
		width:100%;
		border-bottom:2px solid black;
		border-radius: 5px;
	
	}
	#location{
		float:left;
		height:750px;
		width:100%;
		
	}
	.contact-text{
		margin-left:15px;
		margin-top:5px;	
		font-size: 50px;
	}
	.location-text{
		position:relative;
		left:0px;
		bottom:25%;
		float:left;
		margin-left:15px;
		margin-top:5px;
		font-size: 45px;
	}
	.h3{
		margin-top:0px;
		margin-left:15px;
		font-size: 60px;
	}
	#imglocation{
	margin-top:15px;
		float:left; 
		width:700px; 
		height:650px;
	}
	#imglocation img{
	
		float:left; 
		width:700px; 
		height:450px;
		
	}
}


